@page
@using ASC.Web.Models
@model LoginModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Input.Email" type="email" class="validate">
                        <label asp-for="Input.Email">
                            Email
                        </label>
                        <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Input.Password" type="password" class="validate">
                        <label asp-for="Input.Password">
                            Password
                        </label>
                        <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>
                </div>
                <div class="row padding-left-10px">
                    <p>
                        <label>
                            <input asp-for="Input.RememberMe" type="checkbox" class="filled-in" />
                            <span asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                        </label>
                    </p>
                </div>
                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="row center">
                    <a href="/Identity/Account/ForgotPassword">Forgot your password?</a>
                </div>
                
            </form>
            
        </div>
        <div class="col s12 md offset-m1">
            <h6>Login using External Providers.</h6>
            <div class="divider"></div>
            @{
                var loginProviders = await SignInManager.GetExternalAuthenticationSchemesAsync();
                var cnt = loginProviders.Count();
                if (cnt != 0)
                {
                    <form asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="formhorizontal">
                        <div>
                            @foreach (var provider in loginProviders)
                            {
                                <button type="submit" class="btn btndefault" name="provider" value="@provider.DisplayName" title="Log in using your @provider.DisplayName account">
                                    @provider.DisplayName
                                </button>
                            }
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>